<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div>
    <h1>
        Form is submitted
    </h1>
    <h5>Detail inform abut user:</h5>
    <h4>@username:<%= user %></h4>
    <h6>passwordr:<%= password %></h6>
    </div>
</body>
</html>